 @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Great+Vibes&family=Indie+Flower&family=Lilita+One&family=Rubik+Iso&family=Sacramento&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
header{
    margin-top: -200px;
    margin-bottom: 90px;
    font-size: 3rem;
    font-family: 'Rubik Iso', cursive;
}
#titulo{
    color: #042940;
}
body{
    padding-top: 20vh;
    height: 736px;
    background: linear-gradient(to bottom, #9FC131, #005C53);
}
#login{
    display: flex;
    margin: auto;
    margin-top: 80px;
    width: 500px;
    height: 500px;
    background: linear-gradient(to top, #042940, #005C53);;
    border-radius: 10px;
    backface-visibility: hidden;
    box-shadow: 5px 5px 3px 3px rgba(105, 105, 105, 0.281);
}
input{
    display: inline;
    margin-top: 50px;
    margin-left: 15px;
    width: 250px;
    height: 25px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    background: #042940;
}
input::placeholder{
    color: white;
}
#usuarios{
    display: block;
}
#password{
    background-color: #042940;
}
#input{
    margin: auto;
}
#opcoes{
    font-family: 'Rubik Iso', cursive;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: -50px;
    color: #042940;
    cursor: pointer;
}
#principal{
    font-family: 'Rubik Iso', cursive;
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    color: white;
}
#entrar{
    padding: 10px;
    border-top: 0px ;
    border-right: 1px solid #042940;
    cursor: pointer;
}
#cadastro{
    padding: 10px;
    border-top: 0px ;
    border-left: 1px solid #042940;
    cursor: pointer;
}

.cadastrar{
    display: none;
    margin: auto;
    margin-top: 80px;
    width: 500px;
    height: 500px;
    background: linear-gradient(to top, #042940, #005C53);;
    border-radius: 10px;
    backface-visibility: hidden;
}
h1{
    padding-top: 50px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-family: 'Rubik Iso', cursive;
}
.informacao{
    display: block;
    margin: auto;
    margin-top: 50px;
}
button{
    display: block;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 150px;
    height: 30px;
    font-size: 1rem;
    color: white;
    background-color: #7DBF3B;
    border: none;
    font-family: 'Rubik Iso', cursive;
}

.loader{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    border: 10px solid #000000;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: rotacao 1s linear forwards;
}

@keyframes rotacao{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#recuperar{
    display: none;
    margin: auto;
    margin-top: 80px;
    width: 500px;
    height: 300px;
    background: linear-gradient(to top, #042940, #005C53);;
    border-radius: 10px;
    backface-visibility: hidden;
}
h1{
    padding-top: 50px;
    text-align: center;
    color: white;
}
.informacao{
    display: block;
    margin: auto;
    margin-top: 50px;
}
button{
    display: block;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 150px;
    height: 30px;
    font-size: 1rem;
    color: white;
    background-color: #042940;;
    border: none;
}